*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5256ad;
}

.header {
    background-color: #5256ad;
    color: #ffff;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.header h1 {
    display: inline-block;
    border-bottom: 3px solid white;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color:#5256ad;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 800px;
    margin-top: 50px;
    position: relative;
}

.image-container > div {
    text-align: center;
    margin: 0 20px;
}

.image-container h1 {
    color: white;
    font-size: 24px;
    margin-top: 0;
}

.image-container img {
    display: inline-block;
    width: 100%;
    border: 5px solid white;
}

.download-btn {
    margin-top: 5%;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #2d3080;
}

footer {
    background-color: #5256ad;
    color: #ffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white; 

}

footer a:hover{
    color: purple; 
}

